<h3> Data Entry </h3> 
<div class = "col-sm-3">
<input class = "form-control" type = "text" [(ngModel)] = "s1" placeholder = "S.no" />
<input class = "form-control" type = "text" [(ngModel)] = "s2" placeholder = "Name" />
<input class = "form-control" type = "text" [(ngModel)] = "s3" placeholder = "Email" />
<input class = "form-control" type = "text" [(ngModel)] = "s4" placeholder = "Experience" />
<input class = "form-control" type = "text" [(ngModel)] = "s5" placeholder = "Company" />
<input class = "form-control" type = "text" [(ngModel)] = "s6" placeholder = "Designation" />
<input class = "form-control" type = "text" [(ngModel)] = "s7" placeholder = "Mobile Number" />


<input type="button"  value="Add Dept"  (click)="Add()"  />
<input type="button"  value="Update Dept"  (click)="Update()"  />
</div>
<table class = "col-sm-9 table-bordered">
  <thead>
    <th> S.no </th>
    <th> Name </th>
    <th> E-mail </th>
    <th> Experience </th>
    <th> Company </th>
    <th> Designation </th>
    <th> Mobile Number </th>
  </thead>
<tr *ngFor = "let menu of depts">
  <td>{{ menu.sno }}</td>
  <td>{{ menu.name }}</td>
  <td>{{ menu.email }}</td>
  <td>{{ menu.experience }}</td>
  <td>{{ menu.company }}</td>
  <td>{{ menu.designation }}</td>
  <td>{{ menu.mobile }}</td>
  <td> 
    <a href="#" (click)="Delete( menu.sno )">Delete</a> |
    <a href="#" (click)="Select( menu.sno )">Select</a>
</td>
</tr>

</table>